<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-xs-6 align-self-center text-center">
      <div class="card border-0 bg-transparent">
        <div class="card-body mt-5 ">
          <h1 class="text-center  text-light mt-5 font-weight-bold" style="background: #131313">Shop List</h1>
          <h5 *ngIf="items.length == 0" class="text-primary">There is nothing to buy.</h5>
          <table *ngIf="items.length > 0"class="table table-striped mt-5">
            <thead
              class="thead border-0 text-white"
              style="background: #131313"
            >
              <tr>
                <th class="text-left border-0">Still to buy</th>
                <th class="text-center border-0">Quantity</th>
                <th class="text-center border-0">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-light " *ngFor="let item of items">
                <td class="text-left pl-3 border-0">{{ item.name }}</td>
                <td class="text-center border-0">{{ item.quantity }}</td>
                <td class="text-center border-0">
                  <span class="mx-2">
                    <i
                      class="fas fa-pen text-primary csr-pointer icon-size-edit"
                    [routerLink]="['/',uid,'edit', item.name]"></i>
                  </span>
                  <span class="mx-2">
                    <i
                      (click)="deleteItem(item.name)"
                      class="fas fa-minus-square text-danger csr-pointer icon-size-clean"
                    ></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
