<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="row">
    <div class="col">
        
        <div class="col d-flex align-items-center justify-content-center">
            <h1 class="text-center display-1 text-dark mt-5 font-weight-bold" >Welcome to <span class="display-1 text-white font-weight-bold">Shop-ist</span></h1>
            
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <p class="text-center h1 text-light mt-1" >Make your own <span class="h1 text-dark">list!</span></p>
          </div>
    </div>
  </div>
</div>