<div
  class="d-flex align-items-center justify-content-center"
  style="height: 90vh"
>
  <div class="row">
    <div class="col">
        <p class="text-center display-4">Welcome <span class="display-4 text-primary font-weight-bold">{{user?.email}}</span></p>
      <div class="col d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-warning font-weight-bold" style="outline:none;" routerLink="/add-new">New List</button>
      </div>
    </div>
  </div>
</div>
